/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

#nav {
  background-color: #ABC4AA;
}

#text {
  color: #675D50;
}

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light{
  --bs-alert-bg: var(--matr-navbar-bg);
  margin-bottom: 140px;
  background:#94AF9F;
  border-radius: 20px;
}

#signup-page .alert-light{
  --bs-alert-bg: var(--matr-navbar-bg);
  margin-bottom: 118px;
  background:#94AF9F;
  border-radius: 20px;
}

   /* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  padding-top: 10px;
  padding-bottom: 20px;
}

#sign-in-background, #sign-up-background{
  background: url("images/pic5.jpg") no-repeat center center fixed;
  background-size: cover;
  flex: 1;
}

#row-c{
  background: #FFDEB4;
}

#card-signin-signup{
  background:#94AF9F;
}

#text-sign-in, #text-sign-up{
  color: #7AA874;
}
