/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  /* Navbar Colors */
  --matr-navbar-bg: #204018;
  --matr-navbar-bg-rgb: 32, 64, 24;
  /* Light Colors */
  --matr-bg-light: #ABC4AA;
  --matr-bg-light-rgb: 171, 196, 170;
  --matr-text-light: #ffffff;
  /* Dark Colors */
  --matr-bg-dark: #204018;
  --matr-bg-dark-rgb: 32, 64, 24;
  --matr-text-dark: #675D50;
  --matr-text-dark-rgb: 103, 93, 80;
  /* Highlight Colors */

  /* Selection Colors */
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  /* Background Colors */
  --bs-dark: var(--matr-bg-dark);
  --bs-dark-rgb: var(--matr-bg-dark-rgb);
  --bs-light: var(--matr-bg-light);
  --bs-light-rgb: var(--matr-bg-light-rgb);
  /* Text Colors */
  --bs-body-color: var(--matr-text-dark);
  --bs-body-color-rgb: var(--matr-text-dark-rgb);
  /* Card Colors */
  --bs-card-bg: var(--matr-bg-light);
  --bs-card-border-color: var(--matr-bg-dark);
  --bs-card-color: var(--matr-text-dark);
  --bs-card-cap-color: var(--matr-text-light);
  /* Button Colors */
  --bs-btn-bg: var(--matr-bg-light);
  --bs-btn-color: var(--matr-bg-dark);
  --bs-btn-hover-bg: var(--matr-text-dark);
  --bs-btn-hover-color: var(--matr-bg-light);
  --bs-btn-active-bg: var(--matr-bg-light);
  --bs-btn-active-color: var(--matr-text-light);
  --bs-btn-disabled-color: #808080;
  /* Other colors */
  --bs-modal-color: var(--matr-bg-light);
  --bs-nav-tabs-link-active-color: var(--matr-text-dark);

  background: fixed center url("https://wallpapers.com/images/hd/vegetables-healthy-food-desktop-1fdano01i4e1w365.jpg");
  background-size: cover;
  height: 75vh;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.off-white-background {
  background-image: linear-gradient(180deg, white, #ededed);
  box-shadow: black;
}


#nav {
  background-color: #ABC4AA;
}

#text {
  color: #675D50;
}
